<main>
  <ul class="form-style-1">
    <li>
      <label>URL <span class="required">*</span></label>
      <input type="text" [(ngModel)]="url" style="width: 400px;" />
      <button (click)="getRequest()">EXECUTE</button><br />
      <span *ngIf="timeSpan !== null">
        HTTP server respond in ({{ timeSpan }}) ms
      </span>
    </li>
    <li>
      <label>TAG </label>
      <input type="text" [(ngModel)]="tag" />
      <button (click)="clearCacheByTag()">Clear Cache TAG</button>
    </li>
    <li>
      <label>REGEX</label>
      <input type="text" [(ngModel)]="regex" />
      <button (click)="clearCacheByRegex()">Clear Cache REGEX</button>
    </li>
    <li>
      <label>NO CACHE</label>
      <input
        type="checkbox"
        [checked]="nocache"
        (change)="nocache = !nocache"
      />
    </li>
    <li>
      <label>LIFETIME</label>
      <input type="text" [(ngModel)]="filetime" />
    </li>
  </ul>

  <pre>{{ cachedKeys | json }}</pre>
  <button (click)="updateCachedKeys()">Update cached keys</button> - <button (click)="clearCache()">Clear Cache</button>
</main>
