main {
  padding: 10px 10px 10px 20px;
}

pre {
  background-color: lightgray;
  padding: 10px 10px 10px 10px;
  overflow: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  outline: none;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.field-divided {
  width: 49%;
}

.field-long {
  width: 100%;
}
.field-select {
  width: 100%;
}
.field-textarea {
  height: 100px;
}
input[type="submit"],
input[type="button"],
button {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.required {
  color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table tr.queue {
  background-color: yellow;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4691a4;
  color: white;
}