<main>
  <ul class="form-style-1">
    <li>
      <label>URL <span class="required">*</span></label>
      <input type="text" [(ngModel)]="url" style="width: 400px;" />
    </li>
    <li>
      <label>Add TAG to request</label>
      <input type="text" [(ngModel)]="tag" />
    </li>
    <li>
      <label>Add LIFETIME to request</label>
      <input type="text" [(ngModel)]="lifetime" />
    </li>
    <li>
      <label>Mark request as "NO CACHEABLE"</label>
      <input type="checkbox" [checked]="nocache" (change)="nocache = !nocache" />
    </li>
    <li>
      <button (click)="getRequest()">EXECUTE REQUEST</button>
      <em *ngIf="timeSpan !== null">
        HTTP server respond in ({{ timeSpan }}) ms
      </em>
      <em *ngIf="count"> (for {{ count }} requests)</em>
    </li>
    <li>
      <hr />
    </li>
    <li>
      <label>Clear cache for TAG</label>
      <input type="text" [(ngModel)]="tag" />
      <button (click)="clearCacheByTag()">Clear Cache</button>
    </li>
    <li>
      <label>Clear cache for REGEX</label>
      <input type="text" [(ngModel)]="regex" />
      <button (click)="clearCacheByRegex()">Clear Cache</button>
    </li>
    <li>
      <label>Clear cache for KEY</label>
      <input type="text" [(ngModel)]="key" />
      <button (click)="clearCacheByKey()">Clear Cache</button>
    </li>
    <li>
      <label>Clear all cache</label>
      <button (click)="clearCache()">Clear Cache</button>
    </li>
    <li>
      <hr />
    </li>
  </ul>

  <table>
    <thead>
      <th>Key</th>
      <th>Headers</th>
      <th>Status</th>
    </thead>
    <tbody *ngIf="cachedKeys && cachedKeys.length > 0; else noCachedKeys">
      <tr *ngFor="let cachedKey of cachedKeys; trackBy:trackByCachedKey"
        [ngClass]="cachedKey.status === 'queue' ? 'queue' : ''">
        <td style="width: 30%; text-align: left;">
          {{ cachedKey.key }}
        </td>
        <td style="width: 60%; text-align: left;">
          {{ cachedKey.headers | json }}
        </td>
        <td style="width: 10%; text-align: left;">
          {{ cachedKey.status }}
        </td>
      </tr>
    </tbody>
    <ng-template #noCachedKeys>
      <tbody>
        <tr>
          <td style="text-align: center;" colspan="3">
            No cached keys
          </td>
        </tr>
      </tbody>
    </ng-template>
  </table>
  <br>
  <button (click)="updateCachedKeys()">Update cached keys</button>
</main>